* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #d3d3d3;
}

.add-btn {
  transition: .4s !important;
  -webkit-transition: .4s !important;
  -moz-transition: .4s !important;
  -ms-transition: .4s !important;
  -o-transition: .4s !important;
}

.add-btn:hover {
  cursor: pointer;
  background-color: #e2e2e2 !important;
  font-weight: 500 !important;
}